.itemsCard_container {
  display: flex;
}

.item_right {
  width: 85%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}
.card {
  cursor: pointer;
  width: 32%;
  margin: 4px auto;
  margin-bottom: 50px;
}

.card img {
  width: 100%;
}

.card_content {
  display: flex;
  flex-direction: column;
}

.itemsCard_title {
  color: orangered;
  font-weight: 400;
  margin-top: 10px;
}

.itemsCard_gender_descrip {
  color: rgb(148, 148, 148);
  font-weight: 300;
  margin-top: 10px;
}

.card_price {
  margin-top: 10px;
}

/* ITEM LEFT */

.item_left {
  width: 15%;
  margin: 10px auto;
}

.items_left_btns {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px grey solid;
}

.items_left_btns h4 {
  margin-bottom: 20px;
}

.left_btns_row {
  margin-top: 5px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.items_left_gender {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px grey solid;
}

.items_left_gender h4 {
  margin-bottom: 20px;
}
